.root{
    -fx-background-color: #ffa4c4;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-background-image: url("../images/a_background.jpg");
    -fx-background-size: 100% 100%;
}

.button {
    -fx-text-fill: #55555b;
    -fx-background-color: #ffa4c4;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-border-color: #ff9dc0;
    -fx-background-radius: 10;
    -fx-font-size: 16px;
    -fx-padding: 5;
}

.button:hover {
    -fx-background-color: #ECEDEC;
    -fx-border-color: #dcdcdc;
    -fx-border-width: 2;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0.5, 0.0, 0.0);
}