            /* BACKGROUND, FONT */

.root{
    -fx-background-color: #ffa4c4;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-background-image: url("../images/background.jpg");
    -fx-background-size: 100% 100%;
}

            /* REUSABLE BUTTONS */
.button {
    -fx-text-fill: #55555b;
    -fx-background-color: #ffa4c4;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-border-color: #ff9dc0;
    -fx-background-radius: 10;
    -fx-font-size: 16px;
    -fx-padding: 5;
}

.button:hover {
    -fx-background-color: #ECEDEC;
    -fx-border-color: #dcdcdc;
    -fx-border-width: 2;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0.5, 0.0, 0.0);
}

.main_btn {
    -fx-background-color: #ffcbdc;
    -fx-border-color: #ffbed5;
    -fx-border-width: 2;
}
#logInButton{
    -fx-background-color: #a1316d;
    -fx-border-color: #91235e;
    -fx-border-width: 2;
    -fx-text-fill: white;
    -fx-font-size: 18px;
}

            /* TEXT FIELD, TEXT AREA */

.text-field {
    -fx-background-color: transparent;
    -fx-border-color: #ECEDEC;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 5;
}

.text-field:focused {
    /*-fx-focus-color: #ac37a6;*/
    -fx-border-width: 2;
    -fx-border-color: #ffdfeb;
}

.text-area {
    -fx-border-color: #ECEDEC;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color: white;
    -fx-padding: 5;
    -fx-text-fill: #3C3D43;
}

.text-area:focused {
    /*-fx-focus-color: #FBBFC3;*/
    -fx-border-width: 2;
    -fx-border-color: #ffdfeb;
    -fx-border-width: 2;
    -fx-border-radius: 5;
}

            /* DROPDOWN LISTS */
.combo-box {
    -fx-background-color: #ffffff;
    -fx-text-fill: #a1316d;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 5;
    -fx-border-width: 1;
    -fx-border-color: #ffa4c4;
}

.combo-box .list-cell {
    -fx-background-color: #ffffff;
}

.combo-box .list-cell:hover{
    -fx-border-color: #ffa4c4;
}

.combo-box-popup .list-cell {
    -fx-background-color: #ffdfeb;
}

/*.combo-box .list-cell:selected{*/
/*    -fx-background-color: #ffa4c4;*/
/*}*/

.choice-box {
    -fx-border-width: 1;
    -fx-border-color: #ffa4c4;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 5;
    -fx-text-fill: #3C3D43;
    -fx-background-color: #ffffff;
}

.choice-box .context-menu{
    -fx-background-color: #ffffff;
    -fx-font-size: 14px;
}

.choice-box .menu-item:focused{
    -fx-background-color: #ffdfeb;
    /*-fx-font-size: 14px;*/
}

.choice-box > .label{
    -fx-background-color: #ffffff;
    -fx-font-size: 14px;
    -fx-mark-color:  #1dcb9d;
}

.list-view {
    -fx-border-color: #ECEDEC;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color: white;
    -fx-padding: 5;
    -fx-text-fill: #3C3D43;
}

.list-cell {
    -fx-background-color: #ECEDEC;
    -fx-border-color: #ffffff;
    -fx-border-radius: 2;
    -fx-text-fill: #55555b;
}

.list-view .list-cell:hover{
    -fx-background-color: #ffdfeb;
}

                /*  CALENDAR  */

.date-picker {
    -fx-background-color: #ffffff;
}
.date-picker-popup > .month-year-pane {
    -fx-background-color: #ffdfeb;
    -fx-padding: 0.5px;
}

.date-picker .button {
    -fx-background-color: #ffdfeb;
    -fx-border-color: none;
}

.date-cell {
    -fx-background-color: #ffdfeb;
    -fx-font-size: 11;
    -fx-pref-width:45px ;
    -fx-pref-height:40px ;
    -fx-text-fill: #55555b;
    -fx-border-color: #ffffff;
    -fx-border-width: 1px;
}

.date-cell:hover {
    -fx-background-color: #f1f1f1;
    -fx-font-size: 14;
    -fx-text-fill:#a1326f;
}

.date-cell.selected {
    -fx-background-color: #a1326f;
    -fx-font-size: 12.0;
    -fx-text-fill: #ecebeb;
}

.date-picker .week-number-cell {
    -fx-background-color: #ffa4c4;
    -fx-text-fill: #64123e;

}

            /* DATE & TIME */
#dateTime {
      -fx-text-fill: #a1316d;
      -fx-font-size: 16px;
}

            /* WINDOW HEADING LABELS */
#welcomeLabel {
    -fx-font-size: 28;
    -fx-text-fill: #a1326f;
}

#shoppingListLabel {
    -fx-font-size: 28;
    -fx-text-fill: #a1326f;
}

#clientLabel {
    -fx-font-size: 28;
    -fx-text-fill: #a1326f;
}
#allRecipesHeading {
    -fx-font-size: 28;
    -fx-text-fill: #a1326f;
}

.text {
     /*-fx-font-size: 28;*/
     -fx-text-fill: #a1326f;
}

            /*LOG-IN SCREEN PASSWORD, ACCOUNT*/

#forgotPassword {
    -fx-background-color: transparent;
    -fx-font-size: 13px;
    -fx-text-fill: #3c3d43;
    -fx-underline: true;
    -fx-border-color: none;
    -fx-effect: none;
}

#forgotPassword:hover{
    -fx-text-fill: #fc409e;
    -fx-font-weight: 900;
    -fx-border-color: none;
}

#createAccount {
    -fx-background-color: transparent;
    -fx-font-size: 13px;
    -fx-text-fill: #3c3d43;
    -fx-underline: true;
    -fx-effect: none;
    -fx-border-color: none;
}

#createAccount:hover {
    -fx-text-fill: #fc409e;
    -fx-font-weight: 900;
    -fx-border-color: none;
}

            /* INGREDIENTS, TEXT ELEMENTS */

#cakeTitleField {
    -fx-background-color: #ffffff;
    -fx-text-fill: #a1316d;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 5;
    -fx-border-width: 1;
    -fx-border-color: #ffa4c4;
}

.label{
    -fx-text-fill: #55555b;
    -fx-font-size: 16px;
}

#cakeLabel{

}