            /* BACKGROUND, FONT */

.root{
    -fx-font-family: "Arial Rounded MT Bold",  sans-serif;
    -fx-background-image: url("../images/background.jpg");
    -fx-background-size: 100% 100%;
}

            /* REUSABLE BUTTONS */
.button {
    -fx-text-fill: #4c4c50;
    -fx-background-color:linear-gradient(#ffc2de, #ff9bc6);
    -fx-border-color: #ff9bc6;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-font-size: 16px;
    -fx-padding: 5;
    -fx-background-insets: 0,1,2,3,0;
}

.button:hover {
    -fx-background-color: linear-gradient(#f3f3f3, #e8e8e8);
    -fx-border-color: #e5e5e5;
    -fx-border-width: 2;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.07), 7, 0.5, 0.0, 0.0);
}

.main_btn {
    -fx-background-color: linear-gradient(#ffddee, #ffc1dd);
    -fx-border-color: #ffc1dd;
    -fx-border-width: 2;
}
#logInButton{
    -fx-background-color: linear-gradient(#af437b, #91235e);
    -fx-border-color: #91235e;
    -fx-border-width: 2;
    -fx-text-fill: white;
    -fx-font-size: 18px;
}
#logInButton:hover{
    -fx-background-color:linear-gradient(#ffc2de, #ff9bc6);
    -fx-border-color: #ff9bc6;
    -fx-text-fill: #5d5d64;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.07), 7, 0.5, 0.0, 0.0);
}

            /* TEXT FIELD, TEXT AREA */

.text-field {
    -fx-background-color: transparent;
    -fx-border-color: #ECEDEC;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding:5;
    -fx-text-fill: #5d5d64;
}

.text-field:focused {
    -fx-focus-color: #d708cc;
    -fx-border-width: 2;
    -fx-border-color: #ffdfeb;
}

.text-area {
    -fx-border-color: #ECEDEC;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color: white;
    -fx-padding: 5;
    -fx-text-fill: #5d5d64;
}

.text-area:focused {
    /*-fx-focus-color: #FBBFC3;*/
    -fx-border-width: 2;
    -fx-border-color: #ffdfeb;
    -fx-border-width: 2;
    -fx-border-radius: 5;
}

            /* DROPDOWN LISTS */
.combo-box {
    -fx-background-color: #ffffff;
    -fx-text-fill: #a1316d;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 3;
    -fx-border-width: 2;
    -fx-border-color: #ECEDEC;
}
.combo-box:pressed{
    -fx-border-color: #ffdfeb;
}
.combo-box:focused{
     -fx-border-color: #ffdfeb;
}

.combo-box .list-cell {
    -fx-background-color: #ffffff;
}

.combo-box .list-cell:hover{
    -fx-border-color: #ECEDEC;
    -fx-border-color: none;
}
/*.combo-box list-cell:selected {*/
/*    -fx-border-color: #26c097;*/
/*}*/

.combo-box-popup .list-cell {
    -fx-background-color: #ffffff;
}

.choice-box {
    -fx-border-color: #ECEDEC;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 3;
    /*?????????*/
    -fx-text-fill: #5d5d64;
    -fx-background-color: #ffffff;
}

.choice-box:focused{
    -fx-border-color: #ffdfeb;
}

.choice-box .context-menu{
    -fx-background-color: #ffffff;
}

.choice-box .menu-item:focused{
    -fx-background-color: #ffdfeb;
}

.choice-box > .label{
    -fx-background-color: #ffffff;
    -fx-font-size: 14px;
}

.choice-box .label{
     -fx-font-size: 14px;
}

.list-view {
    -fx-border-color: #ECEDEC;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color: white;
    -fx-padding: 3;
    /*?????????????*/
    -fx-text-fill: #5d5d64;
}

.list-cell {
    -fx-background-color: #ECEDEC;
    -fx-border-color: #ffffff;
    -fx-border-radius: 2;
    -fx-text-fill: #5d5d64;
}

.list-view .list-cell:hover{
    -fx-background-color: #ffdfeb;
}

.list-view .list-cell:pressed{
    -fx-background-color: #ffb8d6;
}

#listViewField .list-cell:selected{
    -fx-background-color: #ffb8d6;
}

                /*  CALENDAR  */

.date-picker {
    -fx-background-color: #ffffff;
}

.date-picker > .text-field{
    -fx-padding: 10;
}

.date-picker-popup > .month-year-pane {
    -fx-background-color: #ffdfeb;
    -fx-padding: 1px;
}

.date-picker .button {
    -fx-background-color: #ffdfeb;
    -fx-border-color: none;
}

.date-cell {
    -fx-background-color: #ffdfeb;
    -fx-font-size: 11;
    -fx-pref-width:45px ;
    -fx-pref-height:40px ;
    -fx-text-fill: #5d5d64;
    -fx-border-color: #ffffff;
    -fx-border-width: 1px;
}

.date-cell:hover {
    -fx-background-color: #f1f1f1;
    -fx-font-size: 14;
    -fx-text-fill:#a1326f;
}

.date-cell.selected {
    -fx-background-color: #a1326f;
    -fx-font-size: 12.0;
    -fx-text-fill: #ecebeb;
}

.date-picker .week-number-cell {
    -fx-background-color: #ffa4c4;
    -fx-text-fill: #64123e;

}

            /* DATE & TIME */
#dateTime {
      -fx-text-fill: #64123e;
      -fx-font-size: 16px;
}

            /* WINDOW HEADING LABELS */
#welcomeLabel {
    -fx-font-size: 28;
    -fx-text-fill: #a1326f;
}

#shoppingListLabel {
    -fx-font-size: 28;
    -fx-text-fill: #a1326f;
}

#clientLabel {
    -fx-font-size: 28;
    -fx-text-fill: #a1326f;
}
#allRecipesHeading {
    -fx-font-size: 28;
    -fx-text-fill: #a1326f;
}

.text {
     /*-fx-font-size: 28;*/
     -fx-text-fill: #a1326f;
}

            /*LOG-IN SCREEN PASSWORD, ACCOUNT*/

#forgotPassword {
    -fx-background-color: transparent;
    -fx-font-size: 13px;
    -fx-text-fill: #3c3d43;
    -fx-underline: true;
    -fx-border-color: none;
    -fx-effect: none;
}

#forgotPassword:hover{
    -fx-text-fill: #fc409e;
    -fx-font-weight: 900;
    -fx-border-color: none;
}

#createAccount {
    -fx-background-color: transparent;
    -fx-font-size: 13px;
    -fx-text-fill: #3c3d43;
    -fx-underline: true;
    -fx-effect: none;
    -fx-border-color: none;
}

#createAccount:hover {
    -fx-text-fill: #fc409e;
    -fx-font-weight: 900;
    -fx-border-color: none;
}

            /* INGREDIENTS, TEXT ELEMENTS */

#cakeTitleField {
    -fx-background-color: #ffffff;
    -fx-text-fill: #5d5d64;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 10;
    -fx-border-width: 2;
    -fx-border-color: #ECEDEC;
    -fx-font-size: 14px;
}

#cakeTitleField:focused{
    -fx-border-color: #ffdfeb;
}

.label{
    -fx-text-fill:#5d5d64;
    -fx-font-size: 16px;
}

#timeField{
    -fx-padding: 10;
}